body {
  font-family: Arial, sans-serif;
  background-color: #fff8fc;
  color: #4b0082;
  text-align: center;
  margin: 0;
  padding: 0;
}
header {
  position: relative;
  background: url('bannerfondo.png') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.68);
}
header h1 {
  font-size: 3em;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-decoration: black 2px solid;
  background-color: rgba(67, 41, 44, 0.463);
  border-radius: 10px;
}
nav {
  position: absolute;
  top: 20px;
  right: 20px;
}
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}
nav ul li {
  display: inline;
}
nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: rgba(67, 41, 44, 0.7);
  padding: 10px 15px;
  border-radius: 5px;
}
section {
  margin: 30px 20px;
}
.servicios-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.servicio {
  background-color: #fce7f3;
  padding: 20px;
  border-radius: 10px;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.servicio img {
  width: 100%;
  border-radius: 10px;
}
button {
  background-color: #ffd700;
  color: #4b0082;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #fdd835;
}

.profile-img {
  width: 200px;
  border-radius: 50%;
  margin-top: 20px;
}
.sobre-mi-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  background-color: hsl(328, 100%, 97%);
padding: 40px;
  margin: auto;
  text-align: left;
  box-sizing: border-box;
  align-items: center;
}

@media (max-width: 768px) {
  .sobre-mi-container {
    flex-direction: column;
    align-items: center;

  }
  .profile-img {
    width: 200px; /* Imagen más grande */
    border-radius: 50%;
    
  }
}


.sobre-mi-img {
  flex: 1;
  display: flex;
  justify-content: center;

}

.profile-img {
  width: 500px; /* Imagen más grande */
  border-radius: 50%;
}

.sobre-mi-texto {
  flex: 2;
  padding: 80px;
}
.sobre-mi-texto h2 {
  color: #820048;
  font-size: 50px;
}
.sobre-mi-texto p {
  color: #dd057c;
  font-size: 20px;
}

.sobre-mi-texto h3 {
  font-size: 30px;
  margin-top: 30px;
  color: #820048;
}

.sobre-mi-texto ul {
  font-size: 20px;
  list-style: none;
  padding: 0;
}

.sobre-mi-texto ul li {
  margin: 5px 0;
}

.sobre-mi-texto ul li a {
  text-decoration: none;
  color: #fc7a98;
  font-weight: bold;
}

.sobre-mi-texto ul li a:hover {
  color: #ffd700;
}

#contacto{
  position: relative;
  background: url('images/form-contact.png') no-repeat center center/cover;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#contacto h2{
  font-size: 2.5em;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(104, 3, 90, 0.5);
  text-decoration: black 2px solid;
  border-radius: 10px;
}
.contacto-titulo{
 background-color: rgba(114, 62, 110, 0.463); 
  border-radius: 10px;
  width: 90%;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;  
  margin-top: 30px;
  width: 100%;
  color: #4b0082;
}
input, textarea {
  margin: 10px 0;
  padding: 10px;
  width: 50%;
  border: 1px solid #4b0082;
  border-radius: 5px;
}

.footer {
  background: linear-gradient(135deg, #B985AF,#AFD7E1, #f1aef8);
  color: white;
  padding: 20px 10px;
  font-size: 1.2em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.footer-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-around;
  align-items: center;
}

.social-icons {
  display: flex;

  align-items: center;
  gap: 20px;
}

.icon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  
  padding: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon img {
  width: 30px;
  height: 30px;
}

.icon:hover {
  transform: scale(1.2);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
}

/* Colores personalizados para cada red social */
.instagram {
  background: radial-gradient(circle,);
}

.tiktok {
  background: radial-gradient(135deg, #EFCFD2,#B38EB4);
}

/* Estilo para el texto de copyright */
.copyright {
  font-size: 0.9em;
  margin-top: 20px;
  opacity: 0.8;
}
